.buttom-full {
  width: 100%;
  background-color: #232B39;
  color: white;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.buttom-full:hover {
  background-color: #232B39;
  color: white;
  border: none;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.input-field {
  background-color: white;
  border: none;
  color: #232b39;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.input-field::placeholder {
  color: rgba(34, 42, 56, 0.5);
}