.weather-title h3 {
  text-align: center;
  font-weight: 700;
  font-size: 3em;
}

.p-holder{
  padding-top: 20px;
}

@media (max-width: 576px) {
  .p-holder{
    display: none;
  }
  .weather-title h3 {
    padding-bottom: 25px;
    font-size: 2em;
  }
}