html,
body,
#app,
#app > div {
  height: 100%;
  background: linear-gradient(-45deg, #FC4A1A, #F7B733);
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  color: #232B39;
  font-weight: 700;
}

a:hover {
  color: #232B39;
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-box {
  background-color: white;
  color: #232B39;
  border-radius: 10px;
  min-height: 550px;
  width: 80%;
  padding: 40px;
  margin: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

@media (max-width: 576px) {
  .weather-box {
    width: 100%;
    min-height: 650px;
  }
}